* {
  font-family:
    Oxygen Mono,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen Mono,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
  color: var(--white);
}
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* Handle portion of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: var(--blue); /* Color of the scrollbar handle */
  border-radius: 4px; /* Rounded corners for the handle */
}

/* Track portion of the scrollbar */
::-webkit-scrollbar-track {
  background-color: var(--surface); /* Color of the scrollbar track */
  border-radius: 4px; /* Rounded corners for the track */
}

body {
  background: var(--base);
}


html {
  scroll-behavior: smooth;
}

:root {
  --base: #11111B;
  --blue: #89b4fa;
  --surface: #45475a;
  --sky: #89dceb;
  --white: #f5e0dc;
  --darkBlue: blue;
}

/* Light Mode */
/* :root { */
/*   --base: #f5f5f5;     /* Light gray as the base color */ */
/*   --blue: #007acc;     /* A shade of blue for accents */ */
/*   --surface: #ffffff;   /* White as the surface/background color */ */
/*   --sky: #87CEEB;      /* Light sky blue color */ */
/*   --white: #11111B;    /* Dark color for text or accents on light background */ */
/*   --darkBlue: #0000ff; /* Dark blue color */ */
/* } */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: var(--base);
}

.mainBlock {
  margin-top: 50px;
}

#nav-items {
  color: var(--white);
  margin-right: 30px;
}

.left {
  display: flex;
  flex-direction: row;
  width: 33vw;
}

.center {
  display: flex;
}

.right {
  width: 33vw;
}

.header {
  color: var(--white);
}

.menu_icon {
  color: var(--white);
  margin-right: 50px;
}

.main {
  margin: 0 5vw 0 5vw;
}
.positionLeft > div > h2 {
  font-family: Lobster;
  font-size: 3em;
  color: var(--base);
text-shadow: 0 0 5px var(--sky), 0 0 20px var(--sky), 0 0 30px var(--sky);
}

.nav{
  text-shadow: 0 0 5px var(--sky), 0 0 20px var(--sky), 0 0 30px var(--sky);
}

/*Intro Secttion*/
.containerIntro {
  display: flex;
  justify-content: space-between;
}
.introRight {
  margin-top: 60px;
  width: 65vw;
}

.introRight > h3 {
  text-align: center;
  margin-top: 30px;
  border-bottom: dashed var(--blue) 1px;
}

.section{
text-shadow: 0 0 5px var(--sky), 0 0 20px var(--sky), 0 0 30px var(--sky);
  font-size: 2em;
  color: var(--base);
  font-family: Lobster;
}

.blog {
  display: flex;
  margin-top: 40px;
  transition: all 0.3s ease-in;
  border: transparent solid 2px;
  box-sizing: border-box;
}

.blogContent > h4{
  font-size: medium;
  display: inline;
text-shadow: 0 0 5px var(--sky), 0 0 20px var(--sky), 0 0 30px var(--sky);
}


.blogContent > p {
  overflow: hidden;
  max-height: 60px;
  transition: all 0.3s;
}

.blog:hover {
  border: var(--sky) solid 2px;
  border-radius: 20px;
  cursor: pointer;
}

.blog:hover .blogContent > p {
  max-height: 150px;
}

.tags {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: small;
  margin: 7px 7px 7px 0;
}
.tags > li {
  background: var(--blue);
  font-weight: bold;
  padding: 0 5px 0 5px;
  max-height: 20px;
  border-radius: 10px;
  margin-right: 7px;
  color: var(--base);
  text-decoration: none;
  transition: text-decoration 0.3s ease-in;
}

.tags > li::hover {
  text-decoration: underline;
}

.date {
  font-size: small;
  margin: 5px 20px 5px 20px;
  white-space: nowrap;
}

.positionLeft {
  position: fixed;
}

.introLeft {
  width: 30vw;
}

.introLeft > .positionLeft > div > p {
  width: 17vw;
  font-size: 0.9em;
  margin-bottom: 20px;
}
/* .introLeft>.positionLeft>div>ul{ */
/*   /* list-style: none; */
/* } */

.introLeft > .positionLeft > div > ul > li {
  text-align: center;
}
.introLeft > .positionLeft > div > ul > li > a {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.introLeft > .positionLeft > div > ul > li > a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--blue);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.introLeft > .positionLeft > div > ul > li > a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social_cont {
  margin: 10px;
}

.social_cont > a {
  font-size: 1.2em;
}

.gIcon {
  width: 30px;
  display: inline;
  fill: var(--blue);
  color: var(--blue);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.gIcon:hover {
  fill: var(--sky);
  color: var(--sky);
}

.social_cont {
  display: flex;
  align-items: center;
}

.Projects {
  text-align: center;
}
.Projects > h3 {
  border-bottom: dashed var(--blue) 1px;
}
.slide > img {
  width: 800px;
}
.slides {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  height: 700px;
}

.slides::-webkit-scrollbar {
  width: 3px; /* Set the width of the scrollbar */
  height: 8px;
}

/* Handle portion of the scrollbar */
.slides::-webkit-scrollbar-thumb {
  background-color: var(--blue); /* Color of the scrollbar handle */
  border-radius: 4px; /* Rounded corners for the handle */
}

/* Track portion of the scrollbar */
.slides::-webkit-scrollbar-track {
  background-color: var(--surface); /* Color of the scrollbar track */
  border-radius: 4px; /* Rounded corners for the track */
}

@media (max-width: 1150px) {
  .positionLeft {
    position: relative;
    width: 95vw;
    text-align: center;
  }

  .introLeft > .positionLeft > div > p {
    width: 95vw;
  }
  .containerIntro {
    display: block;
  }
  .introRight {
    width: 95vw;
  }
  .social {
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-top: 8px;
  }
  .slide {
    width: 450px;
  }
}
